// COLORS
$color-lighter: #FFE4AF;
$color-light: #E6CD9E;
$color-primary: #BFAB84;
$color-dark: #807258;
$color-darker: #40392C;
$color-white: #FFFFFF;
$color-black: #000000;

/* Color Theme Swatches in Hex */
$Mean-Business-1-hex: #807258;
$Mean-Business-2-hex: #BFAB84;
$Mean-Business-3-hex: #FFE4AF;
$Mean-Business-4-hex: #40392C;
$Mean-Business-5-hex: #E6CD9E;

/* Color Theme Swatches in RGBA */
$Mean-Business-1-rgba: rgba(127,114,87, 1);
$Mean-Business-2-rgba: rgba(191,171,131, 1);
$Mean-Business-3-rgba: rgba(255,228,175, 1);
$Mean-Business-4-rgba: rgba(63,57,43, 1);
$Mean-Business-5-rgba: rgba(229,205,157, 1);

/* Color Theme Swatches in HSLA */
$Mean-Business-1-hsla: hsla(39, 18, 42, 1);
$Mean-Business-2-hsla: hsla(39, 31, 63, 1);
$Mean-Business-3-hsla: hsla(39, 100, 84, 1);
$Mean-Business-4-hsla: hsla(39, 18, 21, 1);
$Mean-Business-5-hsla: hsla(39, 58, 75, 1);